<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/split-js@1.0.1/split.min.js"></script>
<script src="/static/js/index.js"></script>
<title>LED</title>
</head>
<body>
	<center>
		<h1>UNIVERSIDAD NACIONAL DE CHIMBORAZO</h1>
		<h1>ELECTRONICA Y TELECOMUNICACIONES</h1>
		<h2>
			<button id = 'validar' type="button" onclick="entrar();">ESTADO SENSORES</button>
		</h2>
		<h3>Sensor 1: <ul id="s1"></ul> </h3>
		<h3>Sensor 2: <ul id="s2"></ul> </h3>
		<h3>
		<button id = 'hist' type="button" onclick="historial();">HISTORIAL SENSORES</button>
		</h3>
		<h3><p id='verhist'></p></h3>
	</center>
</body>
</html>
